* {
  box-sizing : border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body { 
  background-image: linear-gradient(to right, #dfe9f3, #ffffff);
}
#root {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 14px auto;

}
